exportPattern("^[[:alpha:]]+")

importFrom("stats", "cutree", "dist", "hclust", "median",
             "model.matrix", "p.adjust", "sd", "t.test")
importFrom("utils", "read.csv", "unzip", "write.table")
